swagger: "2.0"
info:
  description: "Cette API permet de prendre en entré un fichier et donner en sortie sa description dans un fichier json. Les types de fichiers pris en compte sont : txt, csv, pdf, png. Nous vous souhaitons une très bonne utilisation."
  version: "1.0.0"
  title: "Soulémanou NGBANGO : convert API"
  contact:
    email: "soulemanou.ngbango@student-cs.fr"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "ec2-54-77-81-244.eu-west-1.compute.amazonaws.com:80"
basePath: "/"
tags:
- name: "pet"
  description: "Everything about your Pets"
  externalDocs:
    description: "Find out more"
    url: "http://swagger.io"
schemes:
- "https"
- "http"
paths:
  /convert:
    post:
      tags:
      - "pet"
      summary: "importez le fichier"
      description: "description du fichier dans un json"
      operationId: "uploadFile"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "file"
        in: "formData"
        description: "fichier à décrire"
        required: true
        type: "file"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ApiResponse"
      security:
        - basicAuth: []

securityDefinitions:
  basicAuth:
    type: basic
  petstore_auth:
    type: "oauth2"
    authorizationUrl: "http://petstore.swagger.io/oauth/dialog"
    flow: "implicit"
    scopes:
      write:pets: "modify pets in your account"
      read:pets: "read your pets"
  api_key:
    type: "apiKey"
    name: "api_key"
    in: "header"
definitions:
  ApiResponse:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      type:
        type: "string"
      message:
        type: "string"
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"